# Ambientes Virtuais e Cache
__pycache__/
*.pyc
.venv/
venv/
env/

# Arquivos de Configuração Sensíveis
.env

# Pastas de Dados Locais e Laudos (Não queremos subir os laudos de teste)
laudos/
*.log

# Ignorar arquivos pesados de dados
data/
*.csv

# Arquivos do OS
.DS_Store